h1{
    text-align: center;
    background-color: grey;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
}

img{
    background-color: grey;
    height: 400px;
    width: auto;
}

h2{
    color: yellow;
    background-color: grey;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    color: aqua;
    background-color: grey;
}

.list{
    color: blue;
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 36px;
}